.theme-1 .container {
  background-color: blue;
  border: 1px solid #000;
  display: flex;
  height: 500px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
}

.theme-1 .container * {
  color: purple;
  font-size: 50px;
}

.theme-1 .container .left {
  background-color: yellow;
  height: 100%;
  width: 65%;
}

.theme-1 .container .right {
  background-color: orange;
  height: 100%;
  position: relative;
  width: 30%;
}

.theme-1 .container .button {
  background-color: green;
  border: 0;
  border-radius: 10px;
  bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 1px 2px;
  position: absolute;
  right: 10px;
}

.theme-2 .container {
  background-color: red;
  border: 1px solid #000;
  display: flex;
  height: 500px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
}

.theme-2 .container * {
  color: white;
  font-size: 50px;
}

.theme-2 .container .left {
  background-color: black;
  height: 100%;
  width: 65%;
}

.theme-2 .container .right {
  background-color: violet;
  height: 100%;
  position: relative;
  width: 30%;
}

.theme-2 .container .button {
  background-color: #481b16;
  border: 0;
  border-radius: 10px;
  bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 1px 2px;
  position: absolute;
  right: 10px;
}
